.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: #333;
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
  width: max-content;
  min-height: 2.5em;
  border: 1px solid #dcdcdc;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
}

button:hover {
  background-color: whitesmoke;
}

button:focus {
  outline: 2px solid #F2DB50;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}