.tooltip {
  display: none;
  position: absolute;
  width: 70em;
  height: fit-content;
  z-index: 1;
  background-color: whitesmoke;
  border-radius: 1em;
  border-radius: 1em;
  font-size: .35em;
  padding: 2em;
  border: 2px solid #F2DB50;
  box-shadow: 0px 2px 6px 2px #0000001A;
  align-items: flex-start;
  top: 10em;
}

.tooltip h2 {
  font-weight: 700;
  font-size: 2em;
  height: max-content;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.def-list {
  height: fit-content;
  max-height: 50em;
  overflow: scroll;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  border-radius: 5px;
}

.word:hover .tooltip {
  display: flex;
  flex-direction: column;
}

.tooltip-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-item h3 {
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
}

.tooltip-item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: italic;
  width: 100%;
  font-size: 2em;
  padding: 0px;
  margin-top: -.5em;
  margin-bottom: 0px;
  font-weight: normal;
}

.definitions {
  padding-left: 16px;
  list-style: circle;
  text-align: left;
  text-transform: none;
  font-size: 2.5em;
  margin-top: -.5em;
  padding-bottom: 5px;
  font-weight: normal;
}

.arrow-up {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F2DB50;
  margin-left: 45%;
  top: -10px;
}

@media screen and (max-width: 800px) {
  .tooltip {
    width: 80vw;
  }
}