.word-card {
  position: absolute;
  top: 20%;
  bottom: 25%;
  width: 80%;
  background-color: whitesmoke;
  border: 2px solid #F2DB50;
  box-shadow: 0px 2px 6px 2px #0000001A;
  border-radius: 5px;
  padding: 1em;
  animation-duration: .3s;
  animation-name: dropin;
  z-index: 1;
}

.close-card {
  animation-duration: .6s;
  animation-name: dropout;
}

@keyframes dropin {
  from {
    top: 500%;
  }

  to {
    top: 20%;
  }
}

@keyframes dropout {
  from {
    top: 20%;
  }
  to {
    top: 500%
  }
}

.word-card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.word-card header > span {
  font-size: 1.5em;
}

.word-card header h1 span {
  font-size: 1em;
  padding: 0em;
}

.word-card .definitions {
  padding-left: 1em;
}

.close-button {
  position: absolute;
  top: .25em;
  right: .5em;
  border-radius: 5px;
  background-color: #F2DB50;
  box-shadow: 0px 2px 6px 2px #0000001A;
}

.close-button:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

.word-card-defs {
  position: relative;
  height: 90%;
  overflow: scroll;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  border-radius: 5px;
  font-size: 0.5em;
  margin-top: .25em;
  margin-bottom: 0px;
}