.words-area {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.words {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.word {
  background-color: whitesmoke;
  color: #333;
  border-radius: 1em;
  font-size: 1em;
  width: max-content;
  height: 1em;
  border: none;
  letter-spacing: 0.01em;
  margin: .5em;
  padding: 1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.panagram {
  background-color: #F2DB50;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .words {
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-radius: 5px;
  }

  .word {
    width: max-content;
  }
}